<app-header></app-header>

  <main role="main">

    <div class="album py-5">

      <div id="container" class="container">

          <h1>Disponibilidad <span class="field-tip">
            <img style="width: 2%;" src ="../../../assets/icons/Informacion_Logo.png">
            <span class="tip-content">Desde está página, se podrá visualizar las viviendas disponibles de cada una de las promociones.</span>
        </span></h1>
          <hr>
          <div class="row">
          <table>
            <tr>
              <td>
                Selecciona una Promoción: 
              </td>
              <td>
                  <select id="selectpromociones" (change)="getViviendas()" style="width: 90%;">
                  <option value="{{promocion.PMNOMP}}" *ngFor="let promocion of promociones">{{promocion.PMNOMP}} - {{promocion.PMPROM}}</option>
                  </select>
              </td>
            </tr>
          </table>

        </div>
        <br>

        <div class="row">
          <button id="buttonToUpload" (click)="getViviendaSeleccionada()" style="margin-left: 5%">Buscar</button>
        </div>
          <div class="row" *ngFor="let item of Viviendasanejos | paginate: { itemsPerPage: 3, currentPage: p }" id="elementsViviendas{{item.UHPROM}}">

                <table style="margin-top: 20px" id="Viviedas">
                  <tr>
                    <td id="datosCompradores">DATOS DE LA VIVIENDA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="buttonToUpload" id="buttonToUpload" (click)="download(item.UHPROM)">Generar PDF</button></td>
                  </tr>
                  <tr *ngFor="let item4 of item.DATOSVIVIENDAS">
                    <table>
                        <tr>
                            <td style="text-align: left;">Vivienda:</td>  <td style="text-align: left;" colspan=2>{{item4.NOMBRE_VIVIENDA}}</td>
                            <td style="text-align: left;">Precio Neto:</td> <td style="text-align: left;" colspan=2>{{item4.PRECIO_VIVIENDA}} €</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Metros Hábiles:</td>  <td style="text-align: left;" colspan=2>{{item4.METROS_HABILES}} m2</td>
                            <td style="text-align: left;">Metros Construidos:</td> <td style="text-align: left;" colspan=2>{{item4.METROS_CONSTRUIDOS}} m2</td>
                        </tr>
                        <tr>
                          <td style="text-align: left;">Estado de la Vivienda:</td>  <td style="text-align: left;" colspan=2>{{item4.ESTADO_VIVIENDA}}</td>
                      </tr>
                    </table>

                  </tr>
                  <tr>
                      <td id="datosCompradores">Anejos de la vivienda {{item.UHPROM}} <span *ngIf="item.DATOSANEJOS == ''">Vivienda sin anejos</span> </td>
                  </tr>
                    <tr *ngFor="let item2 of item.DATOSANEJOS">
                      <td>Anejo: &nbsp;{{item2.NOMBRE_ANEJO}} &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Metros: &nbsp;{{item2.METROS_ANEJO}} m2&nbsp;&nbsp;&nbsp;<br>Precio: &nbsp;{{item2.PRECIO_ANEJO}} €</td>
                    </tr>
                    <tr *ngFor="let item3 of item.COMPRADORES">
                      <table>
                          <tr id="datosCompradores">
                              <td style="color: antiquewhite" colspan="5">DATOS DE LOS COMPRADORES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="buttonToUpload" id="buttonToUpload" (click)="actualizarDatos(item3.CODIGO_PRINEX)">Actualizar Datos</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="buttonToUpload" id="buttonToUpload" (click)="connectSalesForce(item3.CODIGO_PRINEX)">Connect SalesForce</button></td>
                          </tr>
                          <tr style="display: none">
                              <td style="text-align: left; width:10%">Código Prinex:</td>  <td style="text-align: left;" colspan=5><input id="codigoPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.CODIGO_PRINEX}}"  style="width:100%; text-align: left"></td>
                          </tr>
                          <tr style="display: none">
                            <td style="text-align: left; width:10%">Código promocion:</td>  <td style="text-align: left;" colspan=5><input id="codigoPromocion{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PROMOCION}}"  style="width:100%; text-align: left"></td>
                          </tr>
                          <tr style="display: none">
                            <td style="text-align: left; width:10%">Código vivienda:</td>  <td style="text-align: left;" colspan=5><input id="codigoVivienda{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.VIVIENDA}}"  style="width:100%; text-align: left"></td>
                          </tr>
                          <tr>
                              <td style="text-align: left;">Nombre:</td>  <td style="text-align: left;" colspan=2><input id="nombrePrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.NOMBRE}}"  style="text-align: left; width:95%"></td>
                              <td style="text-align: left;">Apellidos:</td> <td style="text-align: left;" colspan=2><input id="apellidosPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.APELLIDOS}}"  style="text-align: left; width:95%"></td>
                          </tr>
                          <tr style="display: none">
                              <td><input id="nombrePrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.NOMBRE}}"  style="text-align: left; width:95%"></td>
                              <td><input id="apellidosPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.APELLIDOS}}"  style="text-align: left; width:95%"></td>
                          </tr>
                          <tr>
                            <td style="text-align: left;">DNI:</td>  <td style="text-align: left;" colspan=2><input id="dniPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.DNI}}"  style="text-align: left; width:95%"></td>
                            <td style="text-align: left;">IBAN:</td> <td style="text-align: left;" colspan=2><input id="IBANPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.IBAN}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr style="display: none">
                            <td><input id="dniPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.DNI}}"  style="text-align: left; width:95%"></td>
                            <td><input id="IBANPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.IBAN}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                          <td style="text-align: left;">Estado Civil:</td> <td style="text-align: left;" colspan=2><select id="estadocivilPrinex{{item3.CODIGO_PRINEX}}"style="text-align: left; width:95%">
                            <option value={{estado.key}} *ngFor="let estado of estadocivil | keyvalue" [selected]="estado.key===item3.ESTADO_CIVIL">{{estado.value}}</option>
                          </select></td>
                            <td style="text-align: left;">Email:</td>  <td style="text-align: left;" colspan=2><input disabled="disabled" id="emailPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.EMAIL}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr style="display: none">
                            <td><select id="estadocivilPrinexOculto{{item3.CODIGO_PRINEX}}"style="text-align: left; width:95%">
                              <option value={{estado.key}} *ngFor="let estado of estadocivil | keyvalue" [selected]="estado.key===item3.ESTADO_CIVIL">{{estado.value}}</option>
                            </select></td>
                             <td><input disabled="disabled" id="emailPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.EMAIL}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Teléfono 1:</td>  <td style="text-align: left;" colspan=2><input id="fijoPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.TELEFONOFIJO}}"  style="text-align: left; width:95%"></td>
                            <td style="text-align: left;">Teléfono 2:</td> <td style="text-align: left;" colspan=2><input id="movilPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.MOVIL}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr style="display: none">
                            <td><input id="fijoPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.TELEFONOFIJO}}"  style="text-align: left; width:95%"></td>
                            <td><input id="movilPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.MOVIL}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" colspan=4>Fecha de Nacimiento:</td> <td style="text-align: left;" colspan=2><input id="diaNacPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.DIA}}"  style="text-align: left">&nbsp;&nbsp;&nbsp;<input id="mesNacPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.MES}}"  style="text-align: left">&nbsp;&nbsp;&nbsp;<input id="anioNacPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.ANIO}}"  style="text-align: left"></td>
                        </tr>
                        <tr style="display: none">
                            <td style="text-align: left;" colspan=2><input id="diaNacPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.DIA}}"  style="text-align: left">&nbsp;&nbsp;&nbsp;<input id="mesNacPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.MES}}"  style="text-align: left">&nbsp;&nbsp;&nbsp;<input id="anioNacPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.ANIO}}"  style="text-align: left"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" colspan=2>Profesión:</td>  <td style="text-align: left;" colspan=4><input id="profesionPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PROFESION}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr style="display: none">
                            <td style="text-align: left;" colspan=2><input id="profesionPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PROFESION}}"  style="text-align: left"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" colspan=6><hr></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Población:</td>  <td style="text-align: left;" colspan=2><input id="poblacionPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.POBLACION}}"  style="text-align: left; width:95%"></td>
                            <td style="text-align: left;">Provincia:</td> <td style="text-align: left;" colspan=2><input id="provinciaPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PROVINCIA}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr style="display: none">
                            <td><input id="poblacionPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.POBLACION}}"  style="text-align: left; width:95%"></td>
                            <td><input id="provinciaPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PROVINCIA}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Tipo Vía:</td>  <td style="text-align: left;" colspan=2><select id="tipoViaPrinex{{item3.CODIGO_PRINEX}}" style="text-align: left; width: 95%">
                                <option value={{via.key}} *ngFor="let via of tipovia | keyvalue" [selected]="via.key===item3.TIPO_VIA">{{via.value}}</option>
                              </select></td>
                            <td style="text-align: left;">Nombre Vía:</td> <td style="text-align: left;" colspan=2><input id="nombreViaPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.NOMBRE_VIA}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr style="display: none">
                            <td><select id="tipoViaPrinexOculto{{item3.CODIGO_PRINEX}}" style="text-align: left; width: 95%">
                                <option value={{via.key}} *ngFor="let via of tipovia | keyvalue" [selected]="via.key===item3.TIPO_VIA">{{via.value}}</option>
                              </select></td>
                            <td><input id="nombreViaPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.NOMBRE_VIA}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Nº Vía:</td>  <td style="text-align: left;" colspan=2><input id="numeroViaPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.NUMERO_VIA}}"  style="text-align: left; width:95%"></td>
                            <td style="text-align: left;">CP:</td> <td style="text-align: left;" colspan=2><input id="cpPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.CODIGO_POSTAL}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr style="display: none">
                            <td style="text-align: left;" colspan=2><input id="numeroViaPrinexOculto{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.NUMERO_VIA}}"  style="text-align: left; width:95%"></td>
                            <td style="text-align: left;" colspan=2><input id="cpPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.CODIGO_POSTAL}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" colspan=6></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" colspan=6>Piso: &nbsp;<input id="pisoPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PISO}}"  style="text-align: left; width:10%">&nbsp;&nbsp;&nbsp;Escalera: &nbsp;<input id="escaleraPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.ESCALERA}}"  style="text-align: left; width:10%">&nbsp;&nbsp;&nbsp;Puerta: &nbsp;<input id="puertaPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PUERTA}}"  style="text-align: left; width:10%"></td>
                        </tr>
                        <tr style="display: none">
                            <td>Piso: &nbsp;<input id="pisoPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PISO}}"  style="text-align: left; width:10%">&nbsp;&nbsp;&nbsp;Escalera: &nbsp;<input id="escaleraPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.ESCALERA}}"  style="text-align: left; width:10%">&nbsp;&nbsp;&nbsp;Puerta: &nbsp;<input id="puertaPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PUERTA}}"  style="text-align: left; width:10%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" colspan=6><hr></td>
                        </tr>
                      </table>
                    </tr>
                  </table>
          </div>
          <br>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </div>
    </div>

  </main>
