<app-header></app-header>

  <main role="main">

    <div class="album py-5">

      <div class="container">

          <h1>Mantenimiento de Usuarios <span class="field-tip">
            <img style="width: 2%;" src ="../../../assets/icons/Informacion_Logo.png">
            <span class="tip-content">Desde está página, se podrá realizar un mantenimiento de los usuarios que podrán acceder a la web, y que podrán visualizar.</span>
        </span></h1>
          <hr>
          <div class="row">

              <table class="table-hover" id="tableAnadir">
                  <thead>
                    <tr>
                      <th>Acciones</th>
                      <th>Email Usuario</th>
                      <th>Estado</th>
                      <th>Nombre Usuario</th>
                      <th>Perfil</th>
                    </tr>
                  </thead>


                  <tr class='clickable-row'>
                  <td><button id="Addbutton" (click)="guardarCampo()">Añadir</button></td>
                  <td><input id="AddInputEmail" type="text"  style="width:100%; text-align: center"></td>
                  <td> <select id="AddSelectEstado">
                      <option value={{estado}} *ngFor="let estado of estados">{{estado}}</option>
                    </select>
                  </td>
                  <td><input id="AddInputName" type="text"  style="width:100%;text-align: center"></td>
                  <td>
                      <select id="AddSelectPerfil">
                          <option value="{{perfil}}" *ngFor="let perfil of perfiles">{{perfil}}</option>
                        </select>
                  </td>
                  </tr>
                  </table>



              <br> <br><br> <br>

              <table class="table table-striped" id="tableModificar">
                <thead>
                  <tr>
                    <th>Acciones</th>
                    <th style="display: none">Id Usuario</th>
                    <th>Email Usuario</th>
                    <th>Estado</th>
                    <th>Nombre Usuario</th>
                    <th>Perfil</th>
                  </tr>
                </thead>


                <tr *ngFor="let item of usuarios">
                <td><button class="Editbutton" id="Editbutton{{item.id_usuario}}" (click)="editarCampo(item.id_usuario)">Modificar</button></td>
                <td style="display: none"><input  id="inputidUser{{item.id_usuario}}" style="text-align: center" value="{{item.id_usuario}}"></td>
                <td><input type="text" id="inputemailUser{{item.id_usuario}}" style="width:100%;text-align: center" value="{{item.email_user}}"></td>
                <td> <select id="selectestadolUser{{item.id_usuario}}">
                    <option value={{estado}} *ngFor="let estado of estados" [selected]="estado===item.estado">{{estado}}</option>
                  </select>
                </td>
                <td><input type="text" id="inputnombrelUser{{item.id_usuario}}" style="width:100%;text-align: center" value="{{item.nombre_user}}"></td>
                <td>
                    <select id="selectperfillUser{{item.id_usuario}}">
                        <option  value="{{perfil}}" *ngFor="let perfil of perfiles" [selected]="perfil===item.perfil">{{perfil}}</option>
                      </select>
                </td>
                </tr>



                </table>



        </div>
      </div>
    </div>

  </main>
