:root {
  --jumbotron-padding-y: 3rem;
}

.modal-full {
  min-width: 98%;
  margin: 1%;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  #tableAnadir, #tableModificar { 
    font-size: small;
  }
}



.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#fsw-watermark img {
  width: 100%;
  display: none;
}

.barra{
  color: #f1f1f1;
  border-top: 2px solid;
}

.categoryName{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px
}

.imagenes{
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.h1-content {
  height: 226px;
  width: 100%;
  background-color: #212529;
  color: #f1f1f1;
}



  table, tr{
    width: 100%;
    border: 2px solid;
    border-color: #212529;
    text-align: center;
    color :#f1f1f1;
  }

  th{
    border: 2px solid;
    background-color: #343a40!important;
    color :#f1f1f1;
  }

  td{
    border: 2px solid;
    color :#f1f1f1;
  }

   #Addbutton, .Editbutton{
    color : black;
    background-color: #ECA154;;
    border: 1px solid transparent;
    border-radius: 1.25rem;
  }

  .Editbutton:not([disabled]):hover {
    background-color: white;
    color: black;
    border: 1px solid transparent;
    border-radius: 1.25rem;
  }

  #Addbutton:not([disabled]):hover {
    background-color: white;
    color: black;
    border: 1px solid transparent;
    border-radius: 1.25rem;
  }

  /* .table tr.active td {
    background-color:#123456 !important;
    color: white;
  } */


textarea:focus,

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #ECA154;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #ECA154;
  outline: 0 none;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  background-color:  #eeecec;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color:  #fff;
}

.table-striped td{
  padding: .15rem!important;
}

/* Hover tooltips */
.field-tip {
  position:relative;
  cursor:help;
}
  .field-tip .tip-content {
      font-size: 12px;
      position:absolute;
      top:-22px; /* - top padding */
      right:9999px;
      width:200px;
      margin-right:-220px; /* width + left/right padding */
      padding:10px;
      color:#fff;
      background:#333;
      -webkit-box-shadow:2px 2px 5px #aaa;
         -moz-box-shadow:2px 2px 5px #aaa;
              box-shadow:2px 2px 5px #aaa;
      opacity:0;
      -webkit-transition:opacity 250ms ease-out;
         -moz-transition:opacity 250ms ease-out;
          -ms-transition:opacity 250ms ease-out;
           -o-transition:opacity 250ms ease-out;
              transition:opacity 250ms ease-out;
  }
      /* <http://css-tricks.com/snippets/css/css-triangle/> */
      .field-tip .tip-content:before {
          content:' '; /* Must have content to display */
          position:absolute;
          top:50%;
          left:-16px; /* 2 x border width */
          width:0;
          height:0;
          margin-top:-8px; /* - border width */
          border:8px solid transparent;
          border-right-color:#333;
      }
      .field-tip:hover .tip-content {
          right:-20px;
          opacity:1;
      }









