<app-header></app-header>

  <main role="main">

    <div class="album py-5">

      <div id="container" class="container">

          <h1>Usuarios de SalesForce con oportunidades en Reserva o Contrato CV <span class="field-tip">
            <img style="width: 2%;" src ="../../../assets/icons/Informacion_Logo.png">
            <span class="tip-content">Desde está página, se podrá visualizar los usuarios dados de alta en el área privada por promoción. También se podrá visualizar los NO dados de alta y y darlos.</span>
        </span></h1>
          <hr>
          <div class="row">
          <table>
            <tr>
              <td>
                Selecciona una Promoción: 
              </td>
              <td>
                  <select id="selectpromociones" style="width: 90%;">
                  <option value="{{promocion.IdPromocionSalesForce}}" *ngFor="let promocion of datosPromocionesArray">{{promocion.NamePromocionSalesForce}}</option>
                  </select>
              </td>
            </tr>
           
          </table>
          

        </div>
        <br>
        <div class="row">


        </div>

        <div class="row">
          <button id="buttonToUpload" style="width: 25%;margin-left: 5%;" (click)="getPromocionSeleccionada()">Usuarios NO dados de Alta</button>&nbsp;&nbsp;&nbsp;
          <button id="buttonToUpload" style="width: 25%;" (click)="getUsuariosAlta()">Usuarios dados de Alta</button>&nbsp;&nbsp;&nbsp;
          <!-- <button id="buttonToUpload" style="width: 25%;" (click)="getPromocionSeleccionadaAndalucia()">Buscar de Andalucía</button>&nbsp;&nbsp;&nbsp; -->
          <!-- <button id="buttonToUpload" (click)="getPromocionSeleccionadaTodos()">Buscar en todas las promociones</button>&nbsp;&nbsp;&nbsp; -->
          <button class="buttonToUpload" id="DarAltaUsuarios" style="display: none; width: 40%; margin-left: 5%; margin-top: 3%;" (click)="Updateuser()">Dar de alta en Área Privada</button>
        </div>
        <br>
        <div id="actualizando" style="display: none;">
            <div class="row">
              <div id="cargando">
                <div id="documentType" class="ms-Grid-row ms-fontColor-white">
                  <div class="ms-Grid-col ms-u-lg10 ms-u-xl8 ms-u-xlPush2 ms-u-lgPush1">
                    <img id="imgCargando" src="../../../assets/icons/logogotham.gif" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        <br>

          <div class="row"> 
          <!-- <div class="row"> -->

                <table style="margin-top: 20px; display: none;" id="Viviedas">
                    <tr>
                        <td id="datosCompradores" colspan="3">DATOS DE LOS USUARIOS NO REGISTRADOS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                  <tr>
                      <td style="text-align: center;" style="text-align: center; ">Id:</td> 
                      <td style="text-align: center;" style="text-align: center; ">Email:</td>
                      <td style="text-align: center;" style="text-align: center; ">Fecha de Alta:</td>
                    </tr>
                      <tr *ngFor="let item of emailsUsers">
                            <td style="text-align: center;"><input id="id{{item.Id}}" class="idSalesForce" type="text" value="{{item.Id}}" readonly="readonly"  style="text-align: left; width:95%"></td>  
                            <td style="text-align: center; "><input id="email{{item.Email}}" class="emailsSalesForce" type="text" value="{{item.Email}}" readonly="readonly"  style="text-align: left; width:95%"></td>
                            <td style="text-align: center; "><input id="fecha{{item.FechaAlta}}" class="fechaSalesForce" type="text" value="{{item.FechaAlta}}" readonly="readonly"  style="text-align: left; width:95%"></td>
                      </tr>
                  </table>
          </div>
          <br>
          <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

      </div>
    </div>

  </main>
