<app-header></app-header>

  <main role="main">

    <div class="album py-5">

      <div id="container" class="container">

          <!--<h1>Talkdesk<span class="field-tip">
            <img style="width: 2%;" src ="../../../assets/icons/Informacion_Logo.png">
            <span class="tip-content">Desde está página, se podrá descargar contenido de Talkdesk.</span>
        </span></h1>-->
          <hr>
          <div class="row">
          <h2 id="Idinicial">Escucha de llamadas</h2>
          </div>
          <br><br>

          <div id="datosllamada" style="display: inline;">
            <h2> A continuación podrá esuchar una llamada de la fecha: {{fecha}}</h2>
            <h2> La llamada tiene la siguiente duración: {{duracion}}</h2>
          </div>
          <br>
          <div id="nollamada" style="display: none;">
            <h2> La llamada con ese Id no existe contacte con el administrador para recibir más información</h2>
          </div>
          <br>
         <div id="video" style="display: inline">
          <video width="400" [src] = "url" controls>
            Your browser does not support HTML5 video.
          </video>
        </div>

        
      </div>
    </div>

  </main>
