<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">AEDAS HOMES</h4>
          <hr class="line-white">
          <!-- <p class="text-muted">Disfruta tu casa desde el primer día: así es Living, el nuevo servicio de interiorismo de AEDAS Homes.</p> -->
          <!-- <hr class="line-white"> -->
          <h4 class="text-white">Contacto</h4>
          <p class="text-white">Paseo de la Castellana, 42, 28046, Madrid.<br>900 26 40 96 – <a href="mailto: info@aedashomes.com" class="text-white">info@aedashomes.com</a></p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Menú</h4>
          <ul class="list-unstyled">

            <hr class="line-white">
            <li *ngIf="(this.usuarioAdmin == true) || (this.usuarioUser == true)"><a href="/promociones" class="text-white cursorlink"><i class="fa fa-book"></i> Promociones</a></li>
            <li *ngIf="(this.usuarioAdmin == true) || (this.usuarioUser == true) || (this.usuarioNotario == true)"><a href="/firmanotaria" class="text-white cursorlink"><i class="fa fa-building"></i> Firma de Notaría</a></li>
            <li *ngIf="(this.usuarioAdmin == true) || (this.usuarioUser == true) || (this.usuarioNotario == true)"><a href="/encuestas" class="text-white cursorlink"><i class="fas fa-tasks"></i> Encuestas</a></li>
            <li *ngIf="(this.usuarioAdmin == true) || (this.usuarioUser == true)"><a href="/disponibilidad" class="text-white cursorlink"><i class="fa fa-home"></i> Disponibilidad</a></li>
            <li *ngIf="(this.usuarioAdmin == true)"><a href="/users" class="text-white cursorlink"><i class="fa fa-address-book"></i> Mantenimiento de Usuarios</a></li>
            <li *ngIf="(this.usuarioAdmin == true) || (this.usuarioUser == true)"><a href="/areaprivada" class="text-white cursorlink"><i class="fa fa-address-card"></i> Mantenimiento de Área Privada</a></li>
            <li *ngIf="(this.usuarioAdmin == true) || (this.usuarioUser == true)"><a href="/clientesnuevos" class="text-white cursorlink"><i class="fa fa-user-circle"></i> Clientes Nuevos</a></li>
            <li *ngIf="(this.usuarioAdmin == true) || (this.usuarioUser == true)"><a href="/clientesnuevossalesforce" class="text-white cursorlink"><i class="fa fa-user-plus"></i> Clientes Nuevos SalesForce</a></li>
            <li *ngIf="(this.usuarioAdmin == true) || (this.usuarioMktCloud == true)"><a href="/mktcloud" class="text-white cursorlink"><i class="fa fa-cloud"></i> Mktcloud</a></li>

            <hr class="line-white">
            <li><a href="../../../assets/secciones/Manual-Usuario-Aplicacion-Promociones.pdf" class="text-white" target="_blank"><i class="fa fa-question-circle"></i> Ayuda</a></li>

            <!-- <hr class="line-white">
            <li><a href="https://www.facebook.com/aedashomes/" class="text-white">Facebook</a></li>
            <li><a href="https://www.instagram.com/aedashomes/?hl=es" class="text-white">Instagram</a></li>
            <li><a href="https://es.linkedin.com/company/aedas-homes" class="text-white">Linkedin</a></li>
            <li><a href="https://www.youtube.com/channel/UC6mh0p32N6x7AVlnYFdrz5w/featured" class="text-white">Youtube</a></li> -->

            <hr class="line-white">
            <li class="text-white"> {{ username }} </li>
            <li><a (click)="salir()" class="text-white cursorlink"><i class="fa fa-sign-out-alt"></i> Salir</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="/promociones" class="navbar-brand d-flex align-items-center">
        <!-- <img class="menu-ico" width="20" height="20" src="../../../assets/icons/svg_menu_20x20.svg"> -->
        <strong>Aedas Homes</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
