<app-header></app-header>

  <main role="main">

    <div class="album py-5">

      <div id="container" class="container">

          <h1>Clientes Nuevos <span class="field-tip">
            <img style="width: 2%;" src ="../../../assets/icons/Informacion_Logo.png">
            <span class="tip-content">Desde está página, se podrá visualizar los datos de los nuevos clientes, y sus inmuebles entre dos fechas específicas.</span>
        </span></h1>
          <hr>
          <div class="row">
          <table>
            <tr>
              <td>
                Selecciona una fecha inicial: 
              </td>
              <td>
                  <!-- <select id="selectpromociones" (change)="getViviendas()" style="width: 90%;">
                  <option value="{{promocion.PMNOMP}}" *ngFor="let promocion of promociones">{{promocion.PMNOMP}} - {{promocion.PMPROM}}</option>
                  </select> -->
                  <input type="date" id="initialcalendar" name="initialcalendar" style="width:90%">
              </td>
            </tr>
            <br><br>
            <tr>
              <td>
                  Seleccione una fecha final: 
              </td>
              <td>
                  <!-- <select multiple id="selectanejos" style="width:90%">
                      <option value="{{vivienda}}" *ngFor="let vivienda of viviendas">{{vivienda}}</option>
                  </select> -->
                  <input type="date" id="finishcalendar" name="finishcalendar" style="width:90%">
              </td>
            </tr>
          </table>

        </div>
        <br><br>
        <div class="row">


        </div>

        <div class="row">
          <button class="buttonToUploadSalesForce" id="buttonToUpload" style="width: 15%;margin-left: 5%;" (click)="getUsuarios()">Buscar</button>
          <button class="buttonToUploadSalesForce" id="buttonToUpload" style="width: 15%;margin-left: 5%;" (click)="exportCSVTOTAL()">Exportar a Excel</button>
        </div>
        <br>

          <div class="row" *ngFor="let item of Arrayusuarios">

                <table style="margin-top: 20px" id="Viviedas">                  
                  <tr *ngFor="let item3 of item.COMPRADORES">
                      <table id="tabla{{item3.CODIGO_PRINEX}}">
                          <tr id="datosCompradores">
                              <td style="color: antiquewhite" colspan="6">DATOS DE LOS COMPRADORES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="buttonToUploadSalesForce" id="buttonToUpload" (click)="getDatosInmuebles(item3.CODIGO_PRINEX)">Ver Datos de la Vivienda</button><button id="buttonToUpload" style="width: 15%;margin-left: 5%;" (click)="exportCSVUSUARIOS()">Exportar Usuarios</button><button id="buttonToUpload" style="width: 15%;margin-left: 5%;" (click)="exportCSVVIVIENDAS(item3.CODIGO_PRINEX)">Exportar Viviendas</button></td>
                          </tr>
                          <tr style="display: none">
                              <td style="text-align: left; width:10%">Código Prinex:</td>  <td style="text-align: left;" colspan=5><input id="codigoPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.CODIGO_PRINEX}}"  style="width:100%; text-align: left"></td>
                          </tr>
                          <tr style="display: none">
                            <td style="text-align: left; width:10%">Código promocion:</td>  <td style="text-align: left;" colspan=5><input id="codigoPromocion{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PROMOCION}}"  style="width:100%; text-align: left"></td>
                          </tr>
                          <tr style="display: none">
                            <td style="text-align: left; width:10%">Código vivienda:</td>  <td style="text-align: left;" colspan=5><input id="codigoVivienda{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.VIVIENDA}}"  style="width:100%; text-align: left"></td>
                          </tr>
                          <tr>
                              <td style="text-align: left;">Nombre:</td>  <td style="text-align: left;" colspan=2><input id="nombrePrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.NOMBRE}}"  style="text-align: left; width:95%"></td>
                              <td style="text-align: left;">Apellidos:</td> <td style="text-align: left;" colspan=2><input id="apellidosPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.APELLIDOS}}"  style="text-align: left; width:95%"></td>
                          </tr>
                          <tr style="display: none">
                              <td><input id="nombrePrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.NOMBRE}}"  style="text-align: left; width:95%"></td>
                              <td><input id="apellidosPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.APELLIDOS}}"  style="text-align: left; width:95%"></td>
                          </tr>
                          <tr>
                            <td style="text-align: left;">DNI:</td>  <td style="text-align: left;" colspan=2><input id="dniPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.DNI}}"  style="text-align: left; width:95%"></td>
                            <td style="text-align: left;">IBAN:</td> <td style="text-align: left;" colspan=2><input id="IBANPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.IBAN}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr style="display: none">
                            <td><input id="dniPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.DNI}}"  style="text-align: left; width:95%"></td>
                            <td><input id="IBANPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.IBAN}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                          <td style="text-align: left;">Estado Civil:</td> <td style="text-align: left;" colspan=2><select id="estadocivilPrinex{{item3.CODIGO_PRINEX}}"style="text-align: left; width:95%">
                            <option value={{estado.key}} *ngFor="let estado of estadocivil | keyvalue" [selected]="estado.key===item3.ESTADO_CIVIL">{{estado.value}}</option>
                          </select></td>
                            <td style="text-align: left;">Email:</td>  <td style="text-align: left;" colspan=2><input disabled="disabled" id="emailPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.EMAIL}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr style="display: none">
                            <td><select id="estadocivilPrinexOculto{{item3.CODIGO_PRINEX}}"style="text-align: left; width:95%">
                              <option value={{estado.key}} *ngFor="let estado of estadocivil | keyvalue" [selected]="estado.key===item3.ESTADO_CIVIL">{{estado.value}}</option>
                            </select></td>
                             <td><input disabled="disabled" id="emailPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.EMAIL}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Teléfono 1:</td>  <td style="text-align: left;" colspan=2><input id="fijoPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.TELEFONOFIJO}}"  style="text-align: left; width:95%"></td>
                            <td style="text-align: left;">Teléfono 2:</td> <td style="text-align: left;" colspan=2><input id="movilPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.MOVIL}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr style="display: none">
                            <td><input id="fijoPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.TELEFONOFIJO}}"  style="text-align: left; width:95%"></td>
                            <td><input id="movilPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.MOVIL}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" colspan=4>Fecha de Nacimiento:</td> <td style="text-align: left;" colspan=2><input id="diaNacPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.DIA}}"  style="text-align: left; width:20%">&nbsp;&nbsp;&nbsp;<input id="mesNacPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.MES}}"  style="text-align: left; width:20%">&nbsp;&nbsp;&nbsp;<input id="anioNacPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.ANIO}}"  style="text-align: left; width:50%"></td>
                        </tr>
                        <tr style="display: none">
                            <td style="text-align: left;" colspan=2><input id="diaNacPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.DIA}}"  style="text-align: left">&nbsp;&nbsp;&nbsp;<input id="mesNacPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.MES}}"  style="text-align: left">&nbsp;&nbsp;&nbsp;<input id="anioNacPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.ANIO}}"  style="text-align: left"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Cód. Prinex:</td> <td style="text-align: left;" colspan=2><input disabled="disabled" id="codigoPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.CODIGO_PRINEX}}"  style="text-align: left; width:95%"></td>
                            <td style="text-align: left;">Profesión:</td>  <td style="text-align: left;" colspan=2><input id="profesionPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PROFESION}}"  style="text-align: left; width:95%"></td>                            
                            <!-- <td style="text-align: left;" colspan=2>Profesión:</td>  <td style="text-align: left;" colspan=4><input id="profesionPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PROFESION}}"  style="text-align: left; width:95%"></td> -->
                        </tr>
                        <tr style="display: none">
                          <td><input id="codigoPrinexOculto{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.CODIGO_PRINEX}}"  style="text-align: left; width:95%"></td>
                          <td><input id="profesionPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PROFESION}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" colspan=6><hr></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Población:</td>  <td style="text-align: left;" colspan=2><input id="poblacionPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.POBLACION}}"  style="text-align: left; width:95%"></td>
                            <td style="text-align: left;">Provincia:</td> <td style="text-align: left;" colspan=2><input id="provinciaPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PROVINCIA}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr style="display: none">
                            <td><input id="poblacionPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.POBLACION}}"  style="text-align: left; width:95%"></td>
                            <td><input id="provinciaPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PROVINCIA}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Tipo Vía:</td>  <td style="text-align: left;" colspan=2><select id="tipoViaPrinex{{item3.CODIGO_PRINEX}}" style="text-align: left; width: 95%">
                                <option value={{via.key}} *ngFor="let via of tipovia | keyvalue" [selected]="via.key===item3.TIPO_VIA">{{via.value}}</option>
                              </select></td>
                            <td style="text-align: left;">Nombre Vía:</td> <td style="text-align: left;" colspan=2><input id="nombreViaPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.NOMBRE_VIA}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr style="display: none">
                            <td><select id="tipoViaPrinexOculto{{item3.CODIGO_PRINEX}}" style="text-align: left; width: 95%">
                                <option value={{via.key}} *ngFor="let via of tipovia | keyvalue" [selected]="via.key===item3.TIPO_VIA">{{via.value}}</option>
                              </select></td>
                            <td><input id="nombreViaPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.NOMBRE_VIA}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Nº Vía:</td>  <td style="text-align: left;" colspan=2><input id="numeroViaPrinex{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.NUMERO_VIA}}"  style="text-align: left; width:95%"></td>
                            <td style="text-align: left;">CP:</td> <td style="text-align: left;" colspan=2><input id="cpPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.CODIGO_POSTAL}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr style="display: none">
                            <td style="text-align: left;" colspan=2><input id="numeroViaPrinexOculto{{item3.CODIGO_PRINEX}}" type="number" value="{{item3.NUMERO_VIA}}"  style="text-align: left; width:95%"></td>
                            <td style="text-align: left;" colspan=2><input id="cpPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.CODIGO_POSTAL}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" colspan=6></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" colspan=6>Piso: &nbsp;<input id="pisoPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PISO}}"  style="text-align: left; width:10%">&nbsp;&nbsp;&nbsp;Escalera: &nbsp;<input id="escaleraPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.ESCALERA}}"  style="text-align: left; width:10%">&nbsp;&nbsp;&nbsp;Puerta: &nbsp;<input id="puertaPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PUERTA}}"  style="text-align: left; width:10%"></td>
                        </tr>
                        <tr style="display: none">
                            <td>Piso: &nbsp;<input id="pisoPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PISO}}"  style="text-align: left; width:10%">&nbsp;&nbsp;&nbsp;Escalera: &nbsp;<input id="escaleraPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.ESCALERA}}"  style="text-align: left; width:10%">&nbsp;&nbsp;&nbsp;Puerta: &nbsp;<input id="puertaPrinexOculto{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PUERTA}}"  style="text-align: left; width:10%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Fecha Alta:</td>  <td style="text-align: left;" colspan=2><input id="fechaaltaPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.FECHALTA}}"  style="text-align: left; width:95%"></td>
                            <td style="text-align: left;">Nacionalidad:</td> <td style="text-align: left;" colspan=2><input id="nacionalidadPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.PAIS}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                          <td style="text-align: left;">Tipo:</td>  <td style="text-align: left;" colspan=2><input id="tipoPrinex{{item3.CODIGO_PRINEX}}" type="text" value="{{item3.CLTIPO}}"  style="text-align: left; width:95%"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" colspan=6><hr></td>
                        </tr>
                        
                      </table>
                  </tr>
                  
                </table>
          </div>
          <br>
          <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

      </div>
    </div>

  </main>
