<app-header></app-header>

<main role="main">
  <div class="album py-5">
    <div id="container" class="container">
        <h1>
          Encuestas
          <span class="field-tip">
            <img style="width: 2%;" src ="../../../assets/icons/Informacion_Logo.png">
            <span class="tip-content">Desde está página, se podrá visualizar los datos de Prinex y SalesForce de un usuario, así como las oportunidades. Además se podrá rellenar las encuestas pendientes.</span>
          </span>
        </h1>
        <hr>
        <div id="datosSalesForce">
          <div class="row">
            <div><button id="buttonToUpload" style="margin-left: 17%;" (click)="volver()">Atrás</button></div>
            <div><button id="buttonToUpload" style="margin-left: 25%;" (click)="GetViviendasuser()">Buscar</button></div>
            <table style="margin-top: 10px" id="Viviendas">
              <tr>
                <td id="datosCompradores" colspan=2>Datos del Usuario</td>
              </tr>
              <tr>
                <td style="width:50%;border-bottom:3pt solid #ECA154!important;">Dni del Usuario</td>
                <td style="width:50%;border-bottom:3pt solid #ECA154!important;"><input id="dniUserSalesForce" style="width:100%; text-align: left;"></td>
              </tr>
              <tr style="display:none" id="disponiblePrinex">
                <td style="width:50%;border-bottom:3pt solid #ECA154!important;">Disponibilidad en Prinex</td>
                <td style="width:50%;border-bottom:3pt solid #ECA154!important; text-align: left;" id="disponibilidadPrinex"></td>
              </tr>
            </table>
          </div>
          <div class="row">
            <table style="width: 50%" id="Viviendas" *ngFor="let item of DatosUsuarioprinex">
              <tr>
                <td id="datosCompradores" colspan=2>Datos en Prinex</td>
              </tr>
              <tr>
                <td width="40%">Nombre: </td><td width="60%"><input id="UserNamePrinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.NAME_USER}}"></td>
              </tr>
              <tr>
                <td width="40%">Email </td><td width="60%"><input id="UseremailPrinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.EMAIL}}"></td>
              </tr>
              <tr>
                <td width="40%">Teléfono 1:</td><td width="60%"><input id="UserTelefono1Prinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.TELEFONO1}}"></td>
              </tr>
              <tr>
                <td width="40%">Teléfono 2:</td><td width="60%"><input id="UserTelefono2Prinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.TELEFONO2}}"></td>
              </tr>
              <tr>
                <td width="40%">Cod Prinex:</td> <td width="60%"><input id="UsercodPrinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.COD_PRINEX}}"></td>
              </tr>
            </table>
            <table style="width: 50%" id="Viviendas" *ngFor="let item of DatosUsuariosalesforce">
              <tr>
                <td id="datosCompradores" colspan=2>Datos en SalesForce &nbsp;&nbsp;&nbsp;</td> <!-- <button class="buttonActualizar" id="buttonActualizar">Actualizar</button> -->
              </tr>
              <tr>
                <td width="40%">Nombre:</td><td width="60%"><input id="nameUserSalesForce" disabled="disabled" style="width:100%; text-align: left;" value="{{item.NAME_USER}}"></td>
              </tr>
              <tr>
                <td width="40%">Email:</td><td width="60%"><input id="emailUserSalesForce" disabled="disabled" style="width:100%; text-align: left;" value="{{item.EMAIL_USER}}"></td>
              </tr>
              <tr>
                <td width="40%">Teléfono 1:</td> <td width="60%"><input id="telefono1UserSalesForce" disabled="disabled" style="width:100%; text-align: left;" value="{{item.TELEFONO1}}"></td>
              </tr>
              <tr>
                <td width="40%">Teléfono 2:</td> <td width="60%"><input id="telefono2UserSalesForce" disabled="disabled" style="width:100%; text-align: left;" value="{{item.TELEFONO2}}"></td>
              </tr>
              <tr>
                <td width="40%">Área Privada:</td> <td  width="60%"><input id="areaprivadaUserSalesForce" disabled="disabled" style="width:100%; text-align: left;" value="{{item.FECHA_AREAPRIVADA}}"></td>
              </tr>
              <tr style="display: none;">
                <td width="40%">Id UsuarioSalesForce:</td> <td  width="60%"><input id="idUserSalesForce" style="width:100%; text-align: left;" value="{{item.ID_USER}}"></td>
              </tr>
            </table>
          </div>
          <div class="row">
            <table id="VariasPromociones">
              <tr id="titleOportunidades">
                <td colspan=4>El usuario tiene las siguientes oportunidades:</td>
              </tr>
              <tr id="cabeceraOportunidades">
                <td style="width:20%; border: 2px solid;background-color: #ECA154!important; color:white">OPORTUNIDAD</td>
                <td style="width:20%; border: 2px solid;background-color: #ECA154!important; color:white">PROMOCIÓN</td>
                <td style="width:10%; border: 2px solid;background-color: #ECA154!important; color:white">ESTADO</td>
                <td style="width:50%; border: 2px solid;background-color: #ECA154!important; color:white">ENCUESTAS</td>
              </tr>
              <tr *ngFor="let itemOportunidad of Oportunidades">
                <td style="width:20%">{{itemOportunidad.NAME}}</td>
                <td style="width:20%">{{itemOportunidad.PROMOCION}}</td>
                <td style="width:10%">{{itemOportunidad.STAGE}}</td>
                <td style="width:50%">
                  <table style="width:100%">
                    <tr>
                      <td style="width:50%;-webkit-text-stroke-width: medium;">Nombre</td>
                      <td style="width:20%;-webkit-text-stroke-width: medium;">Estado</td>
                      <td style="width:30%;-webkit-text-stroke-width: medium;">Enlace</td>
                    </tr>
                    <tr  *ngFor="let itemEncuesta of itemOportunidad.ENCUESTAS">
                      <td style="width:50%">{{itemEncuesta.NAME}}</td>
                      <td style="width:20%">{{itemEncuesta.FILLED}}</td>
                      <td style="width:30%"><a href="{{itemEncuesta.URL}}" target="_blank">Rellenar</a></td>
                    </tr>
                  </table>
                </td>
                <hr class="beautiful-line">
              </tr>
            </table>
          </div>
        </div>
    </div>
  </div>
</main>
