/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

.container{
height: 100%;
align-content: center;
}

.card{
/* height: 370px; */
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #ECA154;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #ECA154;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #ECA154;
width: 100px;
margin-left: 125px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.alcenter {
  text-align: center;
}

.assetscenter {
  width: 40%;
}

.msg-warning {
  margin-top: -6px;
}

.msg-height {
  height: 60px;
  display: none;
}
.card-header{
  border-bottom: 0px;
  background-color: transparent;
}
