<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header alcenter" style="font-size: 20px; color: #ECA154;">
          <!-- <img class="assetscenter" src="../../../assets/icons/Living_RGB.svg"> -->
          PROMOCIONES - AEDAS Homes
      </div>
      <div class="card-body">
        <form (ngSubmit)="ingresar()">
          <!-- <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="email"
              [(ngModel)]="nombre"
              name="nombre"
              class="form-control"
              placeholder="Nombre de usuario"
              autofocus>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password"
              [(ngModel)]="pass"
              name="pass"
              class="form-control"
              placeholder="Password">
          </div> -->
          <div id="msg-error" class="p-3 mb-2 rounded bg-danger text-white msg-height">
            <h6 class="msg-warning">El usuario o la contraseña introducida es incorrecta</h6>
          </div>
          <div class="form-group">
              <button class="btn login_btn">
                Ingresar
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


