<app-header></app-header>

  <main role="main">

    <div class="album py-5">

      <div id="container" class="container">

        <h1>SalesForce</h1>
        <hr>
        <div id="datosSalesForce">
        <div class="row" style="margin-left: 1%; margin-bottom: 2%;">
            <button id="buttonToUpload" (click)="volver()">Atrás</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="buttonToUpload" (click)="GetViviendasuser()">Buscar</button>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button *ngIf="this.activadoAreaPrivada === 'Falso'" (click)="Updateuser()" id="buttonToUpload">Dar de alta en Área Privada</button> -->
        </div>
        <div class="row">
                
                      <table style="width: 50%; margin-top:1%" id="Viviendas" *ngFor="let item of DatosUsuarioprinex">
                          <tr>
                            <td id="datosCompradores" colspan=2>Datos en Prinex</td>
                          </tr>
                          <tr>
                            <td width="40%">Nombre del User: </td><td width="60%"><input id="UserNamePrinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.NAME_USER}}"></td>
                          </tr>
                          <tr>
                            <td width="40%">Email del User: </td><td width="60%"><input id="UseremailPrinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.EMAIL}}"></td>
                          </tr>
                          <tr>
                            <td width="40%">Teléfono 1 del User:</td><td width="60%"><input id="UserTelefono1Prinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.TELEFONO1}}"></td>
                          </tr>
                          <tr>
                            <td width="40%">Teléfono 2 del User:</td><td width="60%"><input id="UserTelefono2Prinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.TELEFONO2}}"></td>
                          </tr>
                          <tr>
                            <td width="40%">Cod Prinex del User</td> <td width="60%"><input id="UsercodPrinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.COD_PRINEX}}"></td>
                          </tr>
                          
                      </table>
                      <table style="width: 50%; margin-top:1%" id="Viviendas">
                          <tr>
                            <td id="datosCompradores" colspan=2>Datos en SalesForce</td>
                          </tr>
                          <tr>
                            <td width="40%">Nombre del User: </td><td width="60%"><input id="nameUserSalesForce" disabled="disabled" style="width:100%; text-align: left;"></td>
                          </tr>
                          <tr>
                            <td width="40%">Email del User: </td><td width="60%"><input id="EmailSalesForce" disabled="disabled" style="width:100%; text-align: left;"></td>
                          </tr>
                          <tr>
                            <td width="40%">Teléfono 1 del User:</td><td width="60%"><input id="Telefono1SalesForce" disabled="disabled" style="width:100%; text-align: left;"></td>
                          </tr>
                          <tr>
                            <td width="40%">Teléfono 2 del User:</td><td width="60%"><input id="Telefono2SalesForce" disabled="disabled" style="width:100%; text-align: left;"></td>
                          </tr>
                          <tr>
                            <td width="40%">Usuario en Área Privada:</td> <td width="60%"><input id="AreaPrivadaSalesForce" disabled="disabled" style="width:100%; text-align: left;"></td>
                          </tr>
                          
                      </table>
        
            <!-- <button id="buttonToUpload" (click)="volver()">Atrás</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button *ngIf="this.activadoAreaPrivada === 'Falso'" id="buttonToUpload" (click)="Updateuser()">Dar de alta en Área Privada</button>
            <table style="margin-top: 20px" width="50%" id="Viviendas">
                <tr>
                  <td id="datosCompradores" colspan=2>Datos del Usuario en Sales Force</td>
                </tr>
                <tr style="display: none;">
                    <td>Id Usuario</td>
                    <td><input id="idUserSalesForce" style="width:100%"></td>
                </tr>
                <tr>
                  <td>Nombre del Usuario</td>
                  <td><input id="nameUserSalesForce" style="width:100%"></td>
                </tr>
                <tr>
                    <td>DNI del Usuario</td>
                    <td><input id="dniUserSalesForce" disabled="disabled" style="width:100%"></td>
                  </tr>
                <tr>
                  <td>Email del Usuario</td>
                  <td><input id="EmailSalesForce" style="width:100%"></td>
                </tr>
                <tr>
                  <td>Activado en Área Privada</td>
                  <td><input id="AreaPrivadaSalesForce" disabled="disabled" style="width:100%;"></td>
                </tr>
            </table>
            <table style="margin-top: 20px" width="50%" id="Viviendas">
                <tr>
                  <td id="datosCompradores" colspan=2>Datos del Usuario en Prinex</td>
                </tr>
                <tr style="display: none;">
                    <td>Id Usuario</td>
                    <td><input id="idUserSalesForce" style="width:100%"></td>
                </tr>
                <tr>
                  <td>Nombre del Usuario</td>
                  <td><input id="nameUserSalesForce" style="width:100%"></td>
                </tr>
                <tr>
                    <td>DNI del Usuario</td>
                    <td><input id="dniUserSalesForce" disabled="disabled" style="width:100%"></td>
                  </tr>
                <tr>
                  <td>Email del Usuario</td>
                  <td><input id="EmailSalesForce" style="width:100%"></td>
                </tr>
                <tr>
                  <td>Activado en Área Privada</td>
                  <td><input id="AreaPrivadaSalesForce" disabled="disabled" style="width:100%;"></td>
                </tr>
            </table> -->
        </div>
        <br>
        <div class="row">
          <table id="Viviedas" *ngFor="let item of Viviendassalesforce">
              <tr>
                <td id="datosInmuebles" colspan=2>Datos del Inmueble: {{item.NAME_INMUEBLE}}</td>
              </tr>
              <tr>
                <td colspan=2>Precio del Inmueble: {{item.PVP}} €</td>
              </tr>
              <tr>
                <td colspan=2>Nombre Promoción: {{item.NOMBRE_PROMOCION}}</td>
              </tr>
              <tr>
                <td colspan=2>Estado Comercial: {{item.ESTADO_COMERCIAL}}</td>
              </tr>
              <tr>
                <td colspan=2>Estado Comercial SalesForce: {{item.ESTADO_COMERCIAL_SALESFORCE}}</td>
              </tr>
          </table>
        </div>
        <br>
        <!-- <div class="row">
          
        </div> -->
        </div>
        <div id="actualizando" style="display: none;">
          <div class="row">
            <div id="cargando">
              <div id="documentType" class="ms-Grid-row ms-fontColor-white">
                <div class="ms-Grid-col ms-u-lg10 ms-u-xl8 ms-u-xlPush2 ms-u-lgPush1">
                  <h2 style="margin-left: 350px;">Espera, actualizando estado</h2>
                  <img style="margin-left: 450px;" src="../../../assets/icons/tenor.gif" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>

      </div>
    </div>

  </main>
