<app-header></app-header>

  <main role="main">

    <div class="album py-5">

      <div id="container" class="container">

          <h1>Vincular Inmuebles <span class="field-tip">
            <img style="width: 2%;" src ="../../../assets/icons/Informacion_Logo.png">
            <span class="tip-content">Desde está página, se podrá vincular inmuebles con nuestra aplicación de SalesForce.</span>
        </span></h1>
          <hr>
          <div class="row">
          <h2 id="Idnoexiste" style="display:none">No existe ningún usuario con ese Id</h2>
          <table *ngFor="let item of usuarios">
            <tr>
              <td colspan="2" style="font-size: 24px;">Datos del Lead</td>
            </tr>
            <br>
            <tr>
              <td width="40%">Nombre del usuario:</td><td style="text-align: initial;">{{item.nombre}}</td>
            </tr>
             <br>
            <tr>
              <td width="40%">Email del usuario:</td><td style="text-align: initial;">{{item.email}}</td>
            </tr>
             <br>
            <tr>
              <td width="40%">Mensaje:</td><td style="text-align: initial;">{{item.mensaje}}</td>
            </tr>
            <br>
            <tr>
              <td width="40%">Referencia:</td><td style="text-align: initial;">{{item.referencia}}</td>
            </tr>
            <br>
            <tr>
              <td width="40%">Portal:</td><td style="text-align: initial;">{{item.portal}}</td>
            </tr>
           
           
          </table>


          

        </div>
        <br><br>
        <div class="row" id="urlEnlace">
          <a href="{{urlpedido}}" target="_blank" style="margin-left:8%" ><b>Reedirigir a la búsqueda al portal --></b></a>&nbsp;&nbsp;&nbsp;
        </div>
        <br><br>
        <div class="row" id="promoEnlace">
                    <table>
             <tr>
              <td>
                Selecciona una Promoción: 
              </td>
              <td>
                  <select id="selectpromociones" style="width: 90%;">
                  <option value="{{promocion.IdPromocionSalesForce}}" *ngFor="let promocion of datosPromocionesArray">{{promocion.NamePromocionSalesForce}}</option>
                  </select>
              </td>
            </tr>
          </table>

        </div>
         <br><br>
        <div class="row" id="TextoYaVinculado" style="display:none">
        <h2>Este anuncio está vinculado con la promoción: {{nombrePromocion}} </h2>
          
        </div>
        <br><br>
        <div class="row" id="botonEnlace">
          <button id="buttonToUpload" style="width: 25%;margin-left: 5%;" (click)="vincularPromocion()">Vincular</button>&nbsp;&nbsp;&nbsp;
          
        </div>
        <br>
        <div id="actualizando" style="display: none;">
            <div class="row">
              <div id="cargando">
                <div id="documentType" class="ms-Grid-row ms-fontColor-white">
                  <div class="ms-Grid-col ms-u-lg10 ms-u-xl8 ms-u-xlPush2 ms-u-lgPush1">
                    <img id="imgCargando" src="../../../assets/icons/logogotham.gif" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        <br>

          <div class="row"> 
          <!-- <div class="row"> -->

                <table style="margin-top: 20px; display: none;" id="Viviedas">
                    <tr>
                        <td id="datosCompradores" colspan="3">DATOS DE LOS USUARIOS NO REGISTRADOS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                  <tr>
                      <td style="text-align: center;" style="text-align: center; ">Id:</td> 
                      <td style="text-align: center;" style="text-align: center; ">Email:</td>
                      <td style="text-align: center;" style="text-align: center; ">Fecha de Alta:</td>
                    </tr>
                      <tr *ngFor="let item of emailsUsers">
                            <td style="text-align: center;"><input id="id{{item.Id}}" class="idSalesForce" type="text" value="{{item.Id}}" readonly="readonly"  style="text-align: left; width:95%"></td>  
                            <td style="text-align: center; "><input id="email{{item.Email}}" class="emailsSalesForce" type="text" value="{{item.Email}}" readonly="readonly"  style="text-align: left; width:95%"></td>
                            <td style="text-align: center; "><input id="fecha{{item.FechaAlta}}" class="fechaSalesForce" type="text" value="{{item.FechaAlta}}" readonly="readonly"  style="text-align: left; width:95%"></td>
                      </tr>
                  </table>
          </div>
          <br>

      </div>
    </div>

  </main>
