<app-header></app-header>

  <main role="main">

    <div class="album py-5">

      <div id="container" class="container">

          <h1>Clientes Nuevos SalesForce <span class="field-tip">
            <img style="width: 2%;" src ="../../../assets/icons/Informacion_Logo.png">
            <span class="tip-content">Desde está página, se podrá visualizar los datos de los nuevos clientes, y sus inmuebles en SalesForce entre dos fechas específicas.</span>
        </span></h1>
          <hr>
          <div class="row">
          <table>
            <tr>
              <td>
                Selecciona una fecha inicial: 
              </td>
              <td>
                  <!-- <select id="selectpromociones" (change)="getViviendas()" style="width: 90%;">
                  <option value="{{promocion.PMNOMP}}" *ngFor="let promocion of promociones">{{promocion.PMNOMP}} - {{promocion.PMPROM}}</option>
                  </select> -->
                  <input type="date" id="initialcalendar" name="initialcalendar" style="width:90%">
              </td>
            </tr>
            <br><br>
            <tr>
              <td>
                  Seleccione una fecha final: 
              </td>
              <td>
                  <!-- <select multiple id="selectanejos" style="width:90%">
                      <option value="{{vivienda}}" *ngFor="let vivienda of viviendas">{{vivienda}}</option>
                  </select> -->
                  <input type="date" id="finishcalendar" name="finishcalendar" style="width:90%">
              </td>
            </tr>
          </table>

        </div>
        <br><br>
        <div class="row">


        </div>

        <div class="row">
          <button class="buttonToUploadSalesForce" id="buttonToUpload" style="width: 15%;margin-left: 5%;" (click)="getUsuarios()">Buscar</button>
          <!-- <button class="buttonToUploadSalesForce" id="buttonToUpload" style="width: 15%;margin-left: 5%;" (click)="exportCSVTOTAL()">Exportar a Excel</button> -->
        </div>
        <br>

        <div class="row"> 
          <!-- <div class="row"> -->

                <table style="margin-top: 20px; display: none;" id="Viviedas">
                    <tr>
                        <td id="datosCompradores" colspan="3">DATOS DE LOS USUARIOS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                  <tr>
                      <td style="text-align: center;" style="text-align: center; ">Id:</td> 
                      <td style="text-align: center;" style="text-align: center; ">Email:</td>
                      <td style="text-align: center;" style="text-align: center; ">Nombre:</td>
                    </tr>
                      <tr *ngFor="let item of nuevosUsuariosSalesForce">
                            <td style="text-align: center;"><input id="id{{item.Id}}" class="idSalesForce" type="text" value="{{item.Id}}" readonly="readonly"  style="text-align: left; width:95%"></td>  
                            <td style="text-align: center; "><input id="email{{item.Email}}" class="emailsSalesForce" type="text" value="{{item.Email}}" readonly="readonly"  style="text-align: left; width:95%"></td>
                            <td style="text-align: center; "><input id="nombre{{item.Name}}" class="nombreSalesForce" type="text" value="{{item.Name}}" readonly="readonly"  style="text-align: left; width:95%"></td>
                      </tr>
                  </table>
          </div>
          <br>
          <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

      </div>
    </div>

  </main>
