<app-header></app-header>

  <main role="main">

    <div class="album py-5">

      <div id="container" class="container">

          <h1>Validar Spam <span class="field-tip">
            <img style="width: 2%;" src ="../../../assets/icons/Informacion_Logo.png">
            <span class="tip-content">Desde está página, se podrá validar si un correo es un spam.</span>
        </span></h1>
          <hr>
          <div class="row">
          <table>
            <tr>
              <td width="40%">Seleccione una fecha del calendario para ver los spam:</td><td><input type="date" id="initialcalendar" name="initialcalendar" style="width:90%"></td>
            </tr>
            <br>
          </table>


          

        </div>
        <br><br>
          <div class="row" id="botonEnlace">
          <button id="buttonToUpload" style="width: 25%;margin-left: 5%;" (click)="selectDatosSpam()">Mostrar Anuncios</button>&nbsp;&nbsp;&nbsp;
          </div>
        <br>
          <div class="row">
            <table class="table table-striped" id="tableSpam">
                <thead>
                  <tr>
                    <th>Promoción</th>
                    <th style="display: none">Id Usuario</th>
                    <th>Email</th>
                    <th>Mensaje</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>


                <tr *ngFor="let item of mensajes">
                <td style="display: none"><input  id="inputidMensaje{{item.id_mensaje}}" style="text-align: center" value="{{item.id_mensaje}}" readonly="true"></td>
                <td><input type="text" id="inputpromocion{{item.id_mensaje}}" style="width:100%;text-align: center" value="{{item.nombre_promocion}}" readonly="true"></td>
                <td><input type="text" id="inputemail{{item.id_mensaje}}" style="width:100%;text-align: center" value="{{item.email}}" readonly="true"></td>
                <td><textarea name="message" rows="10" cols="30" id="inputmensaje{{item.id_mensaje}}" style="width:100%;text-align: center" value="{{item.mensaje}}" readonly="true"></textarea></td>
                

                <td><select id="selectestado{{item.id_mensaje}}">
                        <option  value="{{estado}}" *ngFor="let estado of estados">{{estado}}</option>
                      </select>
                </td>
                <td><button class="Editbutton" id="Editbutton{{item.id_mensaje}}" (click)="modificarRegistro(item.id_mensaje)">Modificar</button></td>
                </tr>



                </table>


          </div>

        <br>

      </div>
    </div>

  </main>
