:root {
  --jumbotron-padding-y: 3rem;
}

.modal-full {
  min-width: 98%;
  margin: 1%;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  #Viviendas, #Viviedas { 
    font-size: small;
  }
  #imgCargando{
    margin-left: 15%;
    width: 70%;
    margin-top: 50%;
    /* src: "../../../assets/icons/harley-quinn-batman-logo-bat-signal.png"; */
  }
}



.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

#imgCargando{
  right:0; 
  left: 0;
  top: 25%;
  position: absolute; 
  margin: 0 auto;
  /* src: "../../../assets/icons/harley-quinn-batman-logo-bat-signal.png"; */
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#fsw-watermark img {
  width: 100%;
  display: none;
}

.barra{
  color: #f1f1f1;
  border-top: 2px solid;
}

.categoryName{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px
}

.imagenes{
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.h1-content {
  height: 226px;
  width: 100%;
  background-color: #bcbcbc;
  color: #fff;
}

table, tr{
  width: 100%;
  border-color: #212529;
  text-align: center;
  color :black;
}

#disponiblePrinex{
  width: 100%;
  border-color: #212529;
  text-align: center;
  color :black;
}

#Viviedas{
  border: black 5px solid;
}

#datosCompradores{
  border: 2px solid;
  background-color: #ECA154!important;
  color :white;
}

#datosInmuebles{
  border: 2px solid;
  background-color: #343a40!important;
  color :white;
}

td{

  color :#212529;
}

 #Addbutton, .Editbutton{
  color : black;
  background-color: #ECA154;;
  border: 1px solid transparent;
  border-radius: 1.25rem;

}

#Viviendas{
  border: #ECA154 5px solid;
}

.Editbutton:not([disabled]):hover {
  background-color: white;
  color: black;
  border: 1px solid transparent;
  border-radius: 1.25rem;
}

#Addbutton:not([disabled]):hover {
  background-color: white;
  color: black;
  border: 1px solid transparent;
  border-radius: 1.25rem;
}

/* .table tr.active td {
  background-color:#123456 !important;
  color: white;
} */


textarea:focus,

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
border-color: #ECA154;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #ECA154;
outline: 0 none;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
background-color:  grey;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
background-color:  grey;
}

input[type="file"] {
color:#212529;
}

#buttonActualizar, #buttonFile, .buttonActualizar {
  color : #212529;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 1.25rem;
  height: 19px;
  margin-top: -10px;
  font-size: 14px;
  }
  
  #buttonActualizar:not([disabled]):hover {
  background-color: #212529;
  color: white;
  border: 1px solid transparent;
  border-radius: 1.25rem;
  height: 19px;
  margin-top: -10px;
  font-size: 14px;
  }




#buttonToUpload, #buttonFile, .buttonToUpload {
color : black;
background-color: #ECA154;;
border: 1px solid transparent;
border-radius: 1.25rem;
}

#buttonToUpload:not([disabled]):hover {
background-color: white;
color: black;
border: 1px solid transparent;
border-radius: 1.25rem;
}

#buttonFile:not([disabled]):hover {
background-color: white;
color: black;
border: 1px solid transparent;
border-radius: 1.25rem;
}


