<app-header></app-header>

  <main role="main">

    <div class="album py-5">

      <div id="container" class="container">

          <h1>Token del Usuario</h1>
          <hr>
          <div id="datosSalesForce">
          <div class="row">
              <!-- <div><button id="buttonToUpload" style="margin-left: 17%;" (click)="volver()">Atrás</button><br><br><button *ngIf="this.estadoViviendaEscriturada === 'Falso'" (click)="UpdateInmueble()" style="margin-left: 12%;" id="buttonToUpload">Cambiar Estado Vivienda</button></div> -->
              <div><button id="buttonToUpload" style="margin-left: 25%;" (click)="getUserToken()">Llamada a servicio</button></div>
                <!-- <br><br><button *ngIf="this.activadoAreaPrivada === 'Falso'" (click)="Updateuser()" style="margin-left: 5%;" id="buttonToUpload">Dar de alta en Área Privada</button></div> -->
            <table style="margin-top: 10px" id="Viviendas">
                <tr>
                  <td id="datosCompradores" colspan=2>Datos del Usuario</td>
                </tr>
                <tr>
                  <td style="width:50%;border-bottom:3pt solid #ECA154!important;">Token del Usuario</td>
                  <td style="width:50%;border-bottom:3pt solid #ECA154!important;"><textarea id="tokenUserSalesForce" cols="40" rows="15" style="width:100%; text-align: left;"></textarea></td>
                </tr>
                <!-- <tr>
                    <td style="width:50%;border-bottom:3pt solid #ECA154!important;">Id de SalesForce</td>
                    <td style="width:50%;border-bottom:3pt solid #ECA154!important;"><input id="IdSalesForce" style="width:100%; text-align: left;"></td>
                  </tr> -->
                <!-- <tr style="display:none" id="disponiblePrinex">
                  <td style="width:50%;border-bottom:3pt solid #ECA154!important;">Disponibilidad en Prinex</td>
                  <td style="width:50%;border-bottom:3pt solid #ECA154!important; text-align: left;" id="disponibilidadPrinex"></td>
                </tr> -->
            </table>
          </div>
          <div class="row">

          <table style="width: 50%" id="Viviendas" *ngFor="let item of DatosUsuarioprinex">
            <tr>
              <td id="datosCompradores" colspan=2>Datos en Prinex</td>
            </tr>
            <tr>
              <td width="40%">Nombre: </td><td width="60%"><input id="UserNamePrinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.NAME_USER}}"></td>
            </tr>
            <tr>
              <td width="40%">Email </td><td width="60%"><input id="UseremailPrinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.EMAIL}}"></td>
            </tr>
            <tr>
              <td width="40%">Teléfono 1:</td><td width="60%"><input id="UserTelefono1Prinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.TELEFONO1}}"></td>
            </tr>
            <tr>
              <td width="40%">Teléfono 2:</td><td width="60%"><input id="UserTelefono2Prinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.TELEFONO2}}"></td>
            </tr>
            <tr>
              <td width="40%">Cod Prinex:</td> <td width="60%"><input id="UsercodPrinex" disabled="disabled" style="width:100%; text-align: left;" value="{{item.COD_PRINEX}}"></td>
            </tr>
            
        </table>

        <table style="width: 50%" id="Viviendas" *ngFor="let item of DatosUsuariosalesforce">
          <tr>
            <td id="datosCompradores" colspan=2>Datos en SalesForce &nbsp;&nbsp;&nbsp;</td> <!-- <button class="buttonActualizar" id="buttonActualizar">Actualizar</button> -->
          </tr>
          <tr>
            <td width="40%">Nombre:</td><td width="60%"><input id="nameUserSalesForce" disabled="disabled" style="width:100%; text-align: left;" value="{{item.NAME_USER}}"></td>
          </tr>
          <tr>
            <td width="40%">Email:</td><td width="60%"><input id="emailUserSalesForce" style="width:100%; text-align: left;" value="{{item.EMAIL_USER}}"></td>
          </tr>
          <tr>
            <td width="40%">Teléfono 1:</td> <td width="60%"><input id="telefono1UserSalesForce" style="width:100%; text-align: left;" value="{{item.TELEFONO1}}"></td>
          </tr>
          <tr>
            <td width="40%">Teléfono 2:</td> <td width="60%"><input id="telefono2UserSalesForce" style="width:100%; text-align: left;" value="{{item.TELEFONO2}}"></td>
          </tr>
          <tr>
            <td width="40%">Área Privada:</td> <td  width="60%"><input id="areaprivadaUserSalesForce" disabled="disabled" style="width:100%; text-align: left;" value="{{item.FECHA_AREAPRIVADA}}"></td>
          </tr>
          <tr style="display: none;">
            <td width="40%">Id UsuarioSalesForce:</td> <td  width="60%"><input id="idUserSalesForce" style="width:100%; text-align: left;" value="{{item.ID_USER}}"></td>
          </tr>
      </table>




          </div>

          <div class="row" style="margin-top: 2%">
          <table>
              <tr style="display:none" id="datosVivienda">
              <!-- <td id="datosInmuebles">Datos en Prinex</td> -->
              <td id="datosInmuebles">Datos en SalesForce</td>
            </tr>
            <tr>
              <!-- <td>
                <table id="Viviedas" *ngFor="let itemPrinex of DatoViviendaPrinex">
                  <tr>
                    <td id="datosInmuebles" colspan=2>{{itemPrinex.NOMBRE_VIVIENDA}}</td>
                  </tr>
                  <tr>
                    <td colspan=2>Precio del Inmueble: {{itemPrinex.PRECIO_VIVIENDA}} €</td>
                  </tr>
                  <tr>
                    <td colspan=2>Metros útiles: {{itemPrinex.METROS_HABILES}} m2</td>
                  </tr>
                  <tr>
                    <td colspan=2>Metros Construidos: {{itemPrinex.METROS_CONSTRUIDOS}} m2</td>
                  </tr>
                  <tr>
                    <td colspan=2>Estado Comercial: {{itemPrinex.ESTADO_VIVIENDA}}</td>
                  </tr>
                </table>
              </td> -->
              <td>
                <table id="Viviedas" *ngFor="let item of Viviendassalesforce">
                  <tr>
                    <td id="datosInmuebles" colspan=2>{{item.NAME_INMUEBLE}}</td>
                  </tr>
                  <tr>
                    <td colspan=2>Precio del Inmueble: {{item.PVP}} €</td>
                  </tr>
                  <tr>
                    <td colspan=2>Nombre Promoción: {{item.NOMBRE_PROMOCION}}</td>
                  </tr>
                  <tr>
                    <td colspan=2>Estado Comercial: {{item.ESTADO_COMERCIAL}}</td>
                  </tr>
                  <tr>
                    <td colspan=2>Estado Comercial SalesForce: {{item.ESTADO_COMERCIAL_SALESFORCE}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          </div>
          <div class="row">
          <!-- <button id="buttonToUpload" (click)="volver()">Atrás</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="buttonToUpload" (click)="GetViviendasuser()">Buscar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button *ngIf="this.activadoAreaPrivada === 'Falso'" (click)="Updateuser()" id="buttonToUpload">Dar de alta en Área Privada</button> -->
          </div>
          </div>
          <div id="actualizando" style="display: none;">
            <div class="row">
              <div id="cargando">
                <div id="documentType" class="ms-Grid-row ms-fontColor-white">
                  <div class="ms-Grid-col ms-u-lg10 ms-u-xl8 ms-u-xlPush2 ms-u-lgPush1">
                    <img id="imgCargando" src="../../../assets/icons/logogotham.gif" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
      </div>
    </div>

  </main>
