<app-header></app-header>

  <main role="main">

    <div class="album py-5">

      <div id="container" class="container">

          <h1>Mktcloud <span class="field-tip">
            <img style="width: 2%;" src ="../../../assets/icons/Informacion_Logo.png">
            <span class="tip-content">Desde está página se podrá obtener el enlace para el formulario de Marketing Cloud, dependiendo de las promociones seleccionadas.</span>
        </span></h1>
          <hr>
          <div id="datosSalesForce">
          <div class="row">
              <div><button id="buttonToUploadAtras" class="buttonToUpload" style="margin-left: 17%;" (click)="volver()">Atrás</button><br><br></div>
              <div><button id="buttonToUploadSelect" class="buttonToUpload" style="margin-left: 25%;" (click)="GetPromociones()">Seleccionar</button><br><br></div>
              <div><button id="buttonToUploadUrl" class="buttonToUpload" style="margin-left: 25%; display: none;" (click)="GetUrl()">Generate url</button><br><br></div>
              <div><button id="buttonToUploadReloaded" class="buttonToUpload" style="margin-left: 25%; display: none;" (click)="RecargarPagina()">Reiniciar proceso</button><br><br></div>
            <table style="margin-top: 10px" id="Promociones">
                <tr>
                  <td style="width:50%; text-align: left;">Indique el número de promociones que desea: </td>
                  <td style="width:50%;"><input id="promocionesUserSalesForce" style="width:100%; text-align: left;"></td>
                </tr>
                <br />
                <tr>
                  <td style="width:50%; text-align: left;">Indique el campo de origen: </td>
                  <td style="width:50%;"><input id="promocionesOrigenSalesForce" style="width:100%; text-align: left;"></td>
                </tr>

                <br />

                <tr id="PromocionesMKT" *ngFor="let item of datosPromocionesMKT">
                    <br/>
                    <table>
                      <tr>
                      <td style="text-align: left; width:50%;">Seleccione una promoción:</td>  <td style="text-align: center; width:50%;">
                        <select id="selectpromociones{{item}}" style="width: 300%;">
                          <option value="{{promocion.NamePromocionSalesForce}}/{{promocion.IdPromocionSalesForce}}" *ngFor="let promocion of datosPromocionesArray">{{promocion.NamePromocionSalesForce}}</option>
                          </select></td>
                      </tr>
                    </table>
                </tr>



            </table>
          </div>
          <div class="row">
            
              <div id="urlGenerada" style="display: none;">
                    
                  <div><br><br><a id="urlObtenida" href="#" target="_blank" style="font-size: 35px;">Reedirigir a la url obtenida</a></div>
                
            </div>

          </div>

          </div>

          <br>
          <br>
      </div>
    </div>

  </main>
