html,body{
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#chat-mensajes {
    height: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow-y: scroll;
}

.chat-input {
    margin-top: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

h1 {
  font-size: 1.5em;
}

